server:
  port: ${SERVER_PORT:8080}

spring:
  application:
    name: archiview
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}

  # Database
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver

  # JPA
  jpa:
    properties:
      hibernate:
        format_sql: true

  # OAuth2
  security:
    oauth2:
      client:
        provider:
          apple:
            authorization-uri: https://appleid.apple.com/auth/authorize?response_mode=form_post
            token-uri: https://appleid.apple.com/auth/token
            jwk-set-uri: https://appleid.apple.com/auth/keys
            user-name-attribute: sub
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

  cloud:
    aws:
      s3:
        region: ap-northeast-2
        bucket: ${AWS_S3_BUCKET}
      credentials:
        access-key: ${AWS_ACCESS_KEY_ID:}
        secret-key: ${AWS_SECRET_ACCESS_KEY:}
      region:
        static: ap-northeast-2
      stack:
        auto: false

# JWT
jwt:
  access-token-validity: ${JWT_ACCESS_TOKEN_VALIDITY:3600000}
  refresh-token-validity: ${JWT_REFRESH_TOKEN_VALIDITY:604800000}

auth:
  mobile:
    apple:
      issuer: https://appleid.apple.com
      audience: ${APPLE_APP_BUNDLE_ID:}
    kakao:
      issuer: https://kauth.kakao.com
      audience: ${KAKAO_MOBILE_CLIENT_ID:}

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  default-consumes-media-type: application/json
  default-produces-media-type: application/json