server:
  port: ${SERVER_PORT:8080}

spring:
  application:
    name: archiview
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}

  # Database
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver

  # JPA
  jpa:
    properties:
      hibernate:
        format_sql: true

  # OAuth2
  security:
    oauth2:
      client:
        provider:
          apple:
            authorization-uri: https://appleid.apple.com/auth/authorize?response_mode=form_post
            token-uri: https://appleid.apple.com/auth/token
            jwk-set-uri: https://appleid.apple.com/auth/keys
            user-name-attribute: sub

# JWT
jwt:
  access-token-validity: ${JWT_ACCESS_TOKEN_VALIDITY:3600000}
  refresh-token-validity: ${JWT_REFRESH_TOKEN_VALIDITY:604800000}

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  default-consumes-media-type: application/json
  default-produces-media-type: application/json